<ion-header>
  <ion-navbar>
    <ion-title>Nueva infraccion</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list class="list-home">
<h2 text-center style="color: white; font-family: junction-bold;">Registrar Infraccion</h2>

<form  #form="ngForm" novalidate>

   <ion-item>
    Fecha
    <ion-datetime pickerFormat="MMM DD" displayFormat="MMM DD" [(ngModel)]="fecha" [ngModelOptions]="{standalone: true}"  ></ion-datetime>
  </ion-item>
<ion-item>
    Hora
     <ion-datetime pickerFormat="h mm A" displayFormat="h:mm A" [(ngModel)]="hora" [ngModelOptions]="{standalone: true}"  ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Lugar</ion-label>
    <ion-select Placeholder="Seleccione" [(ngModel)]="lugar" [ngModelOptions]="{standalone: true}">
    <ion-option value="Municipio- Roscio, San Juan" >Municipio- Roscio, San Juan</ion-option>Lugar</ion-select>
  </ion-item>
<ion-item>
 <ion-label>Tipo De Vehiculo</ion-label>
     <ion-select  Placeholder="Seleccione" [(ngModel)]="tipo_vehiculo" [ngModelOptions]="{standalone: true}">
    <ion-option value="1">Automatico</ion-option>
    <ion-option value="2">Sincrónico</ion-option> Tipo de vehiculo</ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Modelo De Vehiculo</ion-label>
    <ion-select Placeholder="Seleccione" [(ngModel)]="modelo_vehiculo" [ngModelOptions]="{standalone: true}">
    <ion-option value="Carro Pequeño">Carro Pequeño</ion-option>
    <ion-option value="Carro Grande">Carro Grande</ion-option>
    <ion-option value="Buseta">Buseta</ion-option>
    <ion-option value="Moto">Moto</ion-option>Modelo del Vehiculo</ion-select>
  </ion-item>
  <ion-item>
    Año
    <ion-input type="" placeholder="Año Vehiculo" [(ngModel)]="ano_vehiculo" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
<ion-item>
    Placa
    <ion-input type="" placeholder="Placa" [(ngModel)]="placa_vehiculo" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
  <ion-item>
    Color
    <ion-input type="" placeholder="Color" [(ngModel)]="color_vehiculo" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
  <ion-item>
    Serial
    <ion-input type="number" placeholder="Serial" [(ngModel)]="serial_vehiculo" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>¿Retuvo Vehiculo?</ion-label>
    <ion-select Placeholder="Seleccione"  [(ngModel)]="retuvo_vehiculo" [ngModelOptions]="{standalone: true}">
 <ion-option value="Si">Si</ion-option>
    <ion-option value="No">No</ion-option></ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Retuvo Licencia?</ion-label>
    <ion-select  [(ngModel)]="retuvo_licencia" [ngModelOptions]="{standalone: true}">
    <ion-option value="Si">Si</ion-option>
    <ion-option value="No">No</ion-option>
    </ion-select>
  </ion-item>

<ion-item>
    <ion-label> Articulo</ion-label>
    <ion-select   [(ngModel)]="id_articulo" (ngModelChange)="updateSelectedValue($event)" [ngModelOptions]="{standalone: true}"  >
    <ion-option *ngFor=" let ar of arti" [value]=ar.id >{{ar.articulo}} </ion-option></ion-select>
     <ion-label> {{id_articulo}}</ion-label>
  </ion-item>
<ion-item>
  <ion-label *ngIf="ar == null">Descripción del articulo</ion-label>
    <ion-label *ngIf="ar != null">{{ar.descripcion}}</ion-label>
</ion-item>

  <ion-item>
  <ion-input type="text" placeholder="Importe a Pagar" [(ngModel)]="importe_pagar" [ngModelOptions]="{standalone: true}" *ngIf="ar == null"></ion-input>
    <ion-input type="" value="10" [(ngModel)]="importe_pagar" [ngModelOptions]="{standalone: true}" *ngIf=" ar != null && ar.id == 1"></ion-input>

  </ion-item>


</form>
<button ion-button type="submit" (click)="registrar()"  large>Guardar</button>
<button ion-button  (click)="Seleccionar()"  large>Subir Foto</button>

</ion-list>
</ion-content>
