<ion-header>
  <ion-navbar>
    <ion-title>Nueva infraccion</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list class="list-home">
<h2 text-center style="color: white; font-family: junction-bold;">Registrar Infraccion</h2>

<form  #form="ngForm" novalidate>

   <ion-item>
    Fecha
    <ion-datetime required  pickerFormat="MMM DD" displayFormat="MMM DD" [(ngModel)]="fecha" [ngModelOptions]="{standalone: true}" okText="Elegir" cancelText="Cancelar"  ></ion-datetime>
  </ion-item>
<ion-item>
    Hora
     <ion-datetime required  pickerFormat="h mm A" displayFormat="h:mm A" [(ngModel)]="hora" [ngModelOptions]="{standalone: true}"  ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Lugar</ion-label>
    <ion-select Placeholder="Seleccione" [(ngModel)]="lugar" [ngModelOptions]="{standalone: true}">
    <ion-option value="Municipio- Roscio, San Juan" >Municipio- Roscio, San Juan</ion-option>Lugar</ion-select>
  </ion-item>
<ion-item>
 <ion-label>Tipo De Vehiculo</ion-label>
     <ion-select required   Placeholder="Seleccione" [(ngModel)]="tipo_vehiculo" [ngModelOptions]="{standalone: true}">
    <ion-option value="Motocicleta">Motocicletas</ion-option>
    <ion-option value="Automóviles">Automóviles</ion-option>
    <ion-option value="Minibuses">Minibuses</ion-option>
    <ion-option value="Autobuses">Autobuses</ion-option>
    <ion-option value="Vehiculos de carga">Vehiculos de carga</ion-option>
    <ion-option value="Vehiculos especiales">Vehiculos especiales</ion-option>
    <ion-option value="Otros aparatos  aptos  para circular">Otros aparatos  aptos  para circular</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Marca</ion-label>
    <ion-select required  Placeholder="Seleccione" [(ngModel)]="modelo_vehiculo" [ngModelOptions]="{standalone: true}">
    <ion-option value="Chevrolet">Chevrolet</ion-option>
    <ion-option value="Toyota">Toyota</ion-option>
    <ion-option value="Fiat">Fiat</ion-option>
    <ion-option value="Ford">Ford</ion-option>
    <ion-option value="Otro">Otro</ion-option></ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Año</ion-label>
   <ion-datetime required  pickerFormat="YYYY" displayFormat="YYYY" [(ngModel)]="ano_vehiculo" [ngModelOptions]="{standalone: true}" okText="Elegir" cancelText="Cancelar"  ></ion-datetime>
  </ion-item>
<ion-item>
    Placa
    <ion-input required  type="" placeholder="Placa" [(ngModel)]="placa_vehiculo" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Color</ion-label>
    <ion-select Placeholder="Seleccione" required [(ngModel)]="color_vehiculo" [ngModelOptions]="{standalone: true}">
    <ion-option value="Amarillo">Amarillo</ion-option>
    <ion-option value="Negro">Negro</ion-option>
    <ion-option value="Rojo">Rojo</ion-option>
    <ion-option value="Marrón">Marrón</ion-option>
    <ion-option value="Azul">Azul</ion-option>
    <ion-option value="Otro">Otro</ion-option></ion-select>
  </ion-item>

  <ion-item>
    <ion-label>¿Retuvo Vehiculo?</ion-label>
    <ion-select Placeholder="Seleccione" required  [(ngModel)]="retuvo_vehiculo" [ngModelOptions]="{standalone: true}">
 <ion-option value="Si">Si</ion-option>
    <ion-option value="No">No</ion-option></ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Retuvo Licencia?</ion-label>
    <ion-select required   [(ngModel)]="retuvo_licencia" [ngModelOptions]="{standalone: true}">
    <ion-option value="Si">Si</ion-option>
    <ion-option value="No">No</ion-option>
    </ion-select>
  </ion-item>

<ion-item>
    <ion-label> Articulo</ion-label>
    <ion-select required   [(ngModel)]="id_articulo" (ngModelChange)="updateSelectedValue($event)" [ngModelOptions]="{standalone: true}"  >
    <ion-option *ngFor=" let ar of arti" [value]=ar.id >{{ar.articulo}} </ion-option></ion-select>


  </ion-item>
<ion-item>
  <ion-label *ngIf="ar == null">Descripción del articulo</ion-label>
    <ion-label *ngIf="ar != null">{{ar.descripcion}}</ion-label>
</ion-item>

  <ion-item>
  <ion-input required  type="text" placeholder="Importe a Pagar" [(ngModel)]="importe_pagar" [ngModelOptions]="{standalone: true}" *ngIf="ut == null"></ion-input>

  <ion-input  required  placeholder="{{ut}} UT" [value]="ut" [(ngModel)]="importe_pagar" [ngModelOptions]="{standalone: true}" *ngIf="ut != null">ut</ion-input>

  </ion-item>


</form>
<button ion-button type="submit" (click)="registrar()"  large>Guardar</button>
<button ion-button  (click)="Seleccionar()"  large>Subir Foto</button>

</ion-list>
</ion-content>
