<ion-header>
  <ion-navbar>
    <ion-title>Infracciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
  <ion-card>

  <ion-card-header text-center>
    Infracción
  </ion-card-header>

  <ion-card-content>
  <ion-row *ngFor=" let item of infraccion">
    <ion-col>
    <ion-label  class="label-detail-title">Fecha</ion-label>
     <ion-label class="label-data-detail">{{item.fecha}}</ion-label>
    </ion-col>
    <ion-col>
    <ion-label  class="label-detail-title">Hora</ion-label>
      <ion-label class="label-data-detail">{{item.hora}}</ion-label>
    </ion-col>
 <ion-col>
    <ion-label  class="label-detail-title">Lugar</ion-label>
      <ion-label class="label-data-detail">{{item.lugar}}</ion-label>
    </ion-col>
  </ion-row>

  </ion-card-content>

</ion-card>

<ion-card>

  <ion-card-header text-center >
   Vehículo
  </ion-card-header>

  <ion-card-content>
  <ion-row *ngFor=" let item of infraccion">
    <ion-col>
    <ion-label  class="label-detail-title">Tipo de vehiculo</ion-label>
      {{item.tipo_vehiculo}}
    </ion-col>
    <ion-col>
    <ion-label text-center class="label-detail-title">Modelo</ion-label>
     {{item.modelo_vehiculo}}
    </ion-col>
   <ion-col>
    <ion-label  class="label-detail-title">año</ion-label>
     {{item.ano_vehiculo}}
    </ion-col>
     <ion-col>
    <ion-label   class="label-detail-title">Placa</ion-label>
     {{item.placa_vehiculo}}
    </ion-col>
  </ion-row>
<ion-row *ngFor=" let item of infraccion">
   <ion-col>
    <ion-label class="label-detail-title">Color</ion-label>
     {{item.color_vehiculo}}
    </ion-col>
     <ion-col>
    <ion-label class="label-detail-title">Serial</ion-label>
     {{item.serial_vehiculo}}
    </ion-col>
     <ion-col>
    <ion-label class="label-detail-title">Retuvo Vehiculo</ion-label>
     {{item.retuvo_vehiculo}}
    </ion-col>
</ion-row>
  </ion-card-content>

</ion-card>

<ion-card>

  <ion-card-header text-center>
   <h3 > Norma</h3>
  </ion-card-header>
  <ion-card-content>
  <ion-row *ngFor=" let item of infraccion">
    <ion-col>
    <ion-label class="label-detail-title">Articulo</ion-label>
     {{item.id_articulo}}
    </ion-col>
    <ion-col>
    <ion-label class="label-detail-title">Retuvo Licencia</ion-label>
    {{item.retuvo_licencia}}
    </ion-col>
  </ion-row>

  </ion-card-content>

</ion-card>
<ion-card>

  <ion-card-header>
    Esta Infraccion es sancionada con MULTA
  </ion-card-header>
  <ion-card-content text-center *ngFor=" let item of infraccion">
     {{ item.importe_pagar | currency:'bsf'}}
  </ion-card-content>

</ion-card>
</ion-content>
