page-home {
.nueva-infraccion{
  margin-top: 50px;
}
.list-home{
  h2{
    margin-top: 50px !important;
  }
}
.content{
  background-color: #c2c2c2;
}
ion-item{
      background-color: transparent;
      color: white;
      font-family: junction-regular;
    }
}
